.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-text{
  word-break: break-all;
}
h2{
  margin: 10px;
  font-size: 21px;
}
.gridcolwrap{
 margin-top:68px;
}

.griddesign{
  width: 100%;
  margin: 0 auto;
}
